---
---

/* colors */

$charcoal: #1D1D1F;
$lightgray: #606362;
$lightpeach: #F2E6CE;
$mildmint: #8AB29F;
$mint: #ADE5AA;
$racoon: #593325;

/* measurements */

$content-block-element-margin: 0 0 1em 0;
$content-header-margin: 0 0 0.5em 0;
$content-line-height: 2em;
$content-width: 60em;
$sidebar-border-width: 0.1em;
$sidebar-padding: 1em;
$sidebar-width: 12em;
$definition-list-title-width: 4em;

/* fonts */
$content-font: 'Nobile', sans-serif;
$main-header-font: 'Podkova';
$sub-header-font: $content-font;
$code-font: 'Cousine', monospace;

@import "css/charcoal-noise-background";
@import "css/lightpeach-noise-background";
@import "css/mixins";

/* GLOBAL STUFF */

a { text-decoration: none; }
code { font-family: $code-font; }
.clear { clear: both; }
em { font-style: italic; }
strong { font-weight: bold; }
dl {
  dt {
    float: left;
    clear: left;
    font-weight: bold;
    :after {
      content: ":";
    }
    border-right: solid 1px #666;
    line-height: 1.3em;
    width: $definition-list-title-width;
    text-align: center;
  }
  dd {
    margin: $content-block-element-margin;
    margin-left: $definition-list-title-width;
    padding-left: 1em;
    line-height: 1.3em;
  }
}

ul {
  margin-left: 3em;
  list-style-type: disc;
  li {
    margin-bottom: 0.5em;
  }
}

hr {
  border: 0;
  background-color: black;
  height: 1px;
  width: 80%;
}

body { @include charcoal-noise-background; }

/* MAIN HEADER */

h1 {
  @include inner-shadow(0px, 0px, 30px, lighten($racoon, 30%));
  a { color: $mint; }
  background-color: $racoon;
  font-family: $main-header-font;
  font-size: 4em;
  margin: 0.5em 0 0 0;
  padding: 0.25em 1em;
  text-align: right;
}

.logo {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

/* MAIN PAGE ELEMENTS */

#parappa {
  margin: 0 auto;
  width: $content-width;

  #contentisking {
    @include lightpeach-noise-background;
    font-family: $content-font;
    margin-right: $sidebar-width + ($sidebar-padding * 2) + ($sidebar-border-width * 2);
    padding-bottom: 2em;


    .index {
      ul {
        list-style-type: none;
        margin-left: 0.4em;

        li {
          padding-top: 1.5em;
          padding-left: 0.5em;
        }

        abbr {
          display: block;
          color: $lightgray;
        }
      }
    }

    .post {
      font-size: 10pt;

      h2 { /* post title */
        @include inner-shadow(0px, 0px, 30px, darken($mildmint, 30%));
        a { color: $charcoal; }
        background-color: $mint;
        font-family: $main-header-font;
        font-size: 2.5em;
        padding: 0.75em;
      }

      .date { /* post "published on" sub-header */
        float: right;
        font-size: 75%;
        padding: 1em;
        position: relative; top: -3em;
      }

      .postcontent {
        margin: 1em;

        h3 { /* post content sub-header */
          border-bottom: solid $racoon 1px;
          font-size: 14pt;
          padding: 0.5em 0;
          margin: $content-header-margin;
        }

        p {
          line-height: $content-line-height;
          code { padding: 0 0.15em; } /* inline references to variables and such */
          a[rel="footnote"] { vertical-align: super; font-weight: bold; }
        }

        pre, p { margin: $content-block-element-margin; }

        .expandolink {
          font-size: 5em;
          color: darken($lightpeach, 0%);

          display: block;
          float: right;
          padding: 0.1em 0 0 $content-width;

          &:hover {
            color: darken($lightpeach, 40%);
            cursor: pointer;
          }
        }

        pre {
          @include inner-shadow(0.2em, 0.2em, 0.1em, $lightgray);
          @include rounded(10px, 10px, 10px, 10px);
          background-color: lighten($lightpeach, 8%);
          line-height: 1.3em;
          overflow-x: scroll;
          padding: 1em;
        }

        .inverse pre {
          background-color: #404040;
          @include inner-shadow(0.2em, 0.2em, 0.1em, $charcoal);
        }

        .code-attribution {
          background-color: lighten($lightpeach, 8%);
          color: $mildmint;

          text-align: right;
          display: block;
          float: right;
          font-size: 0.8em;

          &:hover { color: darken($mildmint, 20%); }
        }

        .figure {
          width: 10em;
          margin: 0 auto;
          font-size: 5em;
          img {
            vertical-align: middle;
          }
        }
      }
    }
  }

  #sideaction { /* "about me" sidebar */
    color: white;
    float: right;
    font-family: $content-font;
    padding: $sidebar-padding;
    width: $sidebar-width;

    a { color: $mildmint; }
    h4 { padding: 0.5em 0; }
    img { display: block; }
    p {
      font-size: 8pt;
      line-height: 1.4em;
    }
  }
}


